<div class="row">
    <div class="col-12 content text-center">
        <form (ngSubmit)="goSearch()" #searchForm="ngForm">
            <div class="row justify-content-center">
                <div class="col-5">
                    <input type="text" class="form-control" id="search" [(ngModel)]="searchQuery" name="search"  #search="ngModel" required placeholder="University Name">
                </div>
                <div [hidden]="search.valid || search.pristine" class="alert alert-danger">
                    University Name is required
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary" [disabled]="!searchForm.form.valid">Search</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success" (click)="showAll()">Show all records</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12 content">        
        <table class="table">
            <thead>
                <tr>
                    <th>University Name</th>
                    <th>Address</th>
                    <th>Phone Number</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id="universities">
                <tr *ngIf="noRecord">
                    <td colspan="4">No records found, please make sure you typed the name correctly.</td>
                </tr>
                <tr *ngFor="let row of rows">
                    <td>{{row.Name}}</td>
                    <td>{{row.Address}}</td>
                    <td>{{row.Phone}}</td>
                    <td><button class="btn btn-outline-danger" (click)="goDelete(row.Name)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>